<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit producs</h2>
                <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="name" required="required" class="form-control" value="{{product.name}}">

                    <label for="">category</label>
                    <input type="text" name="category" required="required" class="form-control" value="{{product.category}}">

                    <label for="">price</label>
                    <input type="text" name="price" required="required" class="form-control" value="{{product.price}}">

                    <label for="">Stock</label>
                    <input type="number" name="stock" required="required" min="1" class="form-control" value="{{product.stock}}">

                    <label for="">description</label>
                    <input type="text" name="description" required="required" class="form-control" value="{{product.description}}">

                    <label for="">image</label>
                    <img src="/images/product-images/{{product._id}}.png" alt="img" style="width:100px;height:auto"
                        id="imageview">
                    <input type="file" name="image" class="form-control" onchange="viewimage(event)">

                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function viewimage(event) {
        document.getElementById('imageview').src = URL.createObjectURL(event.target.files[0])
    }
</script>